
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.comment-filed .ask-form{
    background: url(../img/avatar_male.png) right top/50px no-repeat;
    padding-right: 70px;
  
}

.comment-filed .form-group{
    margin-bottom: 20px;
    position: relative;
}
.comment-filed textarea{
    overflow: hidden;
    overflow-wrap: break-word;
    resize: horizontal;
    height: 79px;
}
.comment-filed #ask_textarea{
    border: 1px solid #eee;
    width: 100%;
    font-size: 14px;
}
.comment-filed .clear{
    clear: both;
}

.comment-filed #ask_button{
    margin-right: 0;
    font-size: 15px;
    float: right;
    /* margin: 15px 15% 5px 0; */
    padding: 5px 20px;
    background: #212022;
    border-color: #212022;
}
.comment-filed #ask_register_link{
    color: black;
}
.comment-filed #ask_register_link:hover{
   text-decoration: none;
}

.comment-people .comment{
    margin: 0 10px;
    padding: 20px 5px;
    border-bottom: 1px solid #f1f1f1;
}
.comment-people .comment-header img{
    vertical-align: text-top;
    border: 1px solid #e4e4e4;
    margin-left: 5px;
    width: 41px;
    height: 41px;
    border-radius: 99px;
}
.comment-people .comment-name{
    font-size: 15px;
    margin-left: 5px;
    font-size: 14px;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
}
.comment-people .comment-time{
    font-size: 12px;
    float: left;
    margin-top: 9px;
    color: #999;
    font-size: 13px;
    font-family: cursive;
}

.comment-people .comment-badge{
    display: inline-block;
    margin-right: 5px;
    padding: 3px 10px;
    font-size: 11px;
    background: #fcd34c;
    color: #444;
    border-radius: 99px;
}
.comment-people .comment-badge i{
    
    font-size: 14px;
    vertical-align: text-bottom;
}
.comment-people [class^=icon-], [class*=" icon-"]{
    font-family: icomoon;
    /* speak: none; */
    font-style: normal;
    font-weight: 400;
    /* font-variant: normal; */
    /* text-transform: none; */
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.comment-people .text-semibold{
    font-weight: 500;
}
.comment-people .comment-header .rating-stars{
    display: block;
    margin: -8px 44px 0 0;
}
.star-on{
    color: #fcd34c;
}
.comment-people .comment-body{
    margin: 5px 45px 0 0;
    font-size: 18px;
}
.comment-people .reply{
    padding: 30px 10px 0 0;
}
.comment-people .comment-header i.replys{
    margin-left: 5px;
    color: #ccc;
    transform: scaleY(-1);
}
.comment-people .reply .comment-body{
    margin-right: 70px;
}